<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    .img {
      width: 30%;
      display: inline-block;
    }

    .right {
      float: right;
    }
    #client_logos {
      display: inline-block;
      width:100%;
    }

    .center {
      text-align: center;
    }

    .text-bold {
      font-weight: bold;
    }
  </style>

</head>
<body>
<div class="container">
  <div id="client_logos">
    <%= image_tag attachments['slogan.png'].url, class: 'img' %>
    <%= image_tag attachments['slogan2.png'].url, class: 'img right' %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        DATOS CLIENTE PRE-REGISTRO<br>
      </p>
      <p>
        Nombre Cliente: <%= @client.name %> <br>
        Apellido Cliente: <%= @client.last_name %> <br>
        Teléfono: <%= @client.phone %><br>
        Email: <%= @user.email %><br>
        Salario: <%= @client.client_loan_detail.before_nomina %><br>
        Monto A Prestar: <%= @client.monto %><br>
        Fecha de Solicitud: <%= @client.client_loan_detail.request_date %><br>
        Motivo: <%= @client.motive %>
      </p>
    </div>
  </div>
</div>



</body>
</html>