<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'/>
  <title>PDF</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <style>
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .row {
      margin-right: -15px;
      margin-left: -15px;
      display: flex;
    }

    .col-md-6 {
      width: 50%;
    }

    .col-md-4 {
      width: 33.3%;
    }

    .col-md-3 {
      width: 25%;
    }

    .col-md-9 {
      width: 75%;
    }

    .col-md-7 {
      width: 58.3%;
    }

    .col-md-5 {
      width: 41.6%;
    }

    .col-md-12 {
      width: 100%;

    }

    .col-md-8 {
      width: 66.6%;
    }

    .col-md-12, .col-md-3, .col-md-4, .col-md-6, .col-md-9, .col-md-8, .col-md-5, .col-md-7 {
      float: left;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 5px;
    }

    .text-color-blue {
      color: #0e3d89;
      width: 100px;
      font-weight: bold;
      background-color: white;
    }

    .bg-gray {
      background-color: #f7f7f9;
    }

    .bg-gray-s {
      background-color: #e9ecef;
    }

    .bg-hr {
      border-top: 1px solid #58D3F7;
    }

    .ts-10 {
      font-size: 10pt;
    }

    .title-text {
      color: #531B93;
      font-size: 13pt;
      font-weight: bold;
    }

    .text-footer {
      color: #0e3d89;
      font-size: 10pt;

    }

    .tx-bold-blue {
      font-weight: bold;
      color: #58D3F7;
    }

    .tx-bold-purple {
      font-weight: bold;
      color: #531B93;
    }

    .tx-bold-green {
      font-weight: bold;
      color: #90b900;

    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-left:50px">
      <img src="https://avancexpress-api.herokuapp.com/images/slogan.png" width="80%">
    </div>
    <div class="col-md-6 text-right">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-3 text-right">
          <p class="text-color-blue" style="font-weight: bold;font-size: 11pt; padding-right: 35px">FECHA:</p></div>
        <div class="col-md-4 text-left bg-gray"><p style="font-size:11pt"><%= @date %></p></div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-3 text-right">
          <p class="text-color-blue" style="font-weight: bold; font-size: 11pt; padding-right: 35px">FOLIO:</p></div>
        <div class="col-md-4 text-left bg-gray-s"><p style="font-size:11pt">AVNC-001</p></div>
      </div>
      <!--<p style="font-weight: bold"><span class="text-color-blue">FECHA:</span> <%= @date %><br>
        <span class="text-color-blue">FOLIO: </span>AVNC-001</p>-->
    </div>
  </div>
</div>
<br><br>
<div style="height: 75px"></div>
<table style="width: 100%">
  <tbody>
  <td width="270px">
    <img src="https://avancexpress-api.herokuapp.com/images/slogan2.png" width="80%">
  </td>
  <td>
    <div class="row">
      <div class="col-md-12 bg-gray">
        <p style="font-size: 11pt"><span style="color:black;font-weight: bold;">Monto</span> del
          Crédito: <%= number_to_currency(@client.monto, precision: 2) %></p>
      </div>
      <div class="col-md-7 bg-gray-s">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Comisión</span> de Apertura:
          <%= number_to_currency(@loanDetail.comision, precision: 2) %></p>
      </div>
      <div class="col-md-5 bg-gray-s">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Financiada: </span>?</p>
      </div>
      <div class="col-md-12">
        <p style="font-size: 11pt"><span style="color:black;font-weight: bold;">Total </span> del Financiamiento: <%= number_to_currency(@loanDetail.payment_total, precision: 2) %></p>
      </div>
      <div class="col-md-12 bg-gray">
        <p style="font-size: 11pt"><span style="color:black;font-weight: bold;">Monto</span> Neto Otorgado: <%= number_to_currency(@loanDetail.payment_total-@loanDetail.iva, precision: 2) %></p>
      </div>
      <div class="col-md-12 bg-gray-s">
        <p style="font-size: 11pt"><span style="color:black;font-weight: bold;">Monto</span> Total A Pagar: <%= number_to_currency(@loanDetail.payment_total, precision: 2) %></p>
      </div>
      <div class="col-md-12">
        <p style="font-size: 11pt"><span style="color:black;font-weight: bold;">Plazo</span> del Crédito:  Meses</p>
      </div>
      <div class="col-md-12 bg-gray">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Parcialidades:</span> $  pesos
          M.N.
          Las parcialidades incluyen todos los montos a pagar, intereses e I.V.A.</p>
      </div>
      <div class="col-md-12 bg-gray-s">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Fecha Límite</span> de Pago: La fecha límite para
          realizar el primer pago es
          $  y posteriormente según la Tabla de Amortización que se adjunta al Contrato como anexo
          "A"</p>
      </div>
      <div class="col-md-12">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Fecha</span> de Corte: La fecha de corte será la
          misma que se
          establece como Fecha Límite de Pago.
        </p>
      </div>
      <div class="col-md-12 bg-gray">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Tasa</span> de Interés Ordinario (Tasa de Interés
          Anual)<br>
          <span style="color:black;font-weight: bold;">10%</span>
        </p>
      </div>

      <div class="col-md-12" style="padding-left: 0">
        <hr class="bg-hr">
      </div>
      <div class="col-md-12 text-center">
        <h3 class="title-text">OTRAS COMISIONES RELEVANTES</h3>
      </div>
      <div class="col-md-12">
        <p style="line-height: 90%;"><span style="color:black;font-weight: bold;font-size:10pt;">- Tasa de Interés Moratorio: </span>
        <span style="font-style: italic;font-size:10pt;">Es el equivalente a  3 %</span>
        <br>
        <span style="color:black;font-weight: bold;font-size:10pt;">- Comisión por intento fallido de cobro: </span>
        <span style="font-style: italic;font-size:10pt; font-weight: bold"> 5% + I.V.A. del monto que no pudo ser efectivamente cobrado,</span>
        <span style="font-style: italic;font-size:10pt;">reconociendo las partes que esta comisión pertenecerá a AvancExpress por la realización de las gestiones de cobro.</span>
        </p>
      </div>
      <div style="height: 15px">
      </div>

      <div class="col-md-12 bg-gray" style="margin-top:10px">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Domicilio</span> del Acreditado:
          $ <%= @client.monto %> pesos
          M.N.
          Las parcialidades incluyen todos los montos a pagar, intereses e I.V.A.</p>
      </div>
      <div class="col-md-12 bg-gray-s">
        <p class="ts-10"><span style="color:black;font-weight: bold;">Entrega</span> del Importe del Crédito
        </p>
      </div>
    </div>
  </td>
  </tbody>
</table>
<div style="height: 25px">
</div>
<div class="container">
  <div class="row text-footer">
    <div class="col-md-12 text-center" style="padding-left:50px">
      <p>Calle 31 N 244 Colonia Benito Juárez, 24180, Ciudad del Carmen, Campeche, Mx.</p>
    </div>
  </div>
  <div class="row text-footer" style="padding-left:40px">
    <div class="col-md-4 text-center">
      <p><span class="tx-bold-purple">T</span><span style="display:inline-block; width: 5px;"></span> + 52 01 (938) 131
        4749</p>
    </div>
    <div class="col-md-4 text-center">
      <p><span class="tx-bold-blue">E</span><span style="display:inline-block; width: 5px;"></span>contacto@avancexpress.com.mx
      </p>
    </div>
    <div class="col-md-4 text-center">
      <p><span class="tx-bold-green">W</span><span style="display:inline-block; width: 5px;"></span> avancexpress.com.mx
      </p>
    </div>
  </div>

</div>

</body>
</html>

